.header {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 80px;
  align-items: center;
  z-index: 1;
}

.header_content {
  display: flex;
  width: 100%;
  max-width: 1024px;
  flex-direction: row;
  justify-content: space-between;
}

.header_logo {
  width: 148px;
  height: 40px;
}

.header_profile {
  width: 40px;
  height: 40px;
}