
/* 배너 */
.banner_img {
  width: 100%;
  height: 330px;
  position: relative;
  top: -80px;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.9) 10%,
    rgba(0, 0, 0, 0.5) 20%,
    rgba(0, 0, 0, 0.25) 30%,
    rgba(0, 0, 0, 0) 100%
  ), url("../assets/images/main_banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center, center;
  /* https://coding-with-jina.tistory.com/43 배경화면 점점 흐리게 */
  justify-content: center;
  align-items: left;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}

.banner_title {
  color: var(--primary-text);
  font-size: 35px;
  font-family: 'Rubik', sans-serif;
  /* font-weight: 700; */
}
.banner_btns {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 15px 0;
}
.banner_btn {
  background-color: rgba(99, 99, 99, 0.5);
  border: none;
  border-radius: 2px;
  width: 80px;
  height: 25px;
  color: var(--primary-text);
  cursor: pointer;
}

.banner_intro {
  color: var(--primary-text);
  opacity: 0.8;
  font-size: 15px;
  max-width: 400px;
  text-overflow: ellipsis;
  font-family: 'Roboto', sans-serif;
}


/* section */

.section {
  box-sizing: border-box;
  width: 100%;
  position: relative;
  top: -80px;
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding: 35px 35px 10px 35px;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

/* 스크롤바 관련 */
.section::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #7d7d7d;
}
.section::-webkit-scrollbar-thumb {
  background: #000;
}

.section_title {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 20px;
}

.section_title p {
  font-family: 'Rubik', sans-serif;
  color: var(--primary-text);
}

/* 이 부분은 설정하지 않아도 똑같이 동작 */
.section_post {
  width: 130px;
  height: 193px;
}

.section_post img:hover {
  cursor:pointer;
  transform: scale(1.3);
}

.section_post img {
  /* 여기서 width: 100%로 하면 이미지의 크기가 작아진다.(gap:40px을 맞추기 위해서인듯?) -> 이유를 모르겠다! */
  /* div나 a 안에 사진을 넣는 경우가 많은데 사진 크기는 어떤걸 기준으로 해야하는지 */
  width: 130px; 
  height: 193px;

}
