.banner_img {
  width: 100%;
  height: 330px;
  /* background-color: yellow; */
  position: fixed;
  top: -80px;
  /* background-image: url('../assets/images/main_banner.jpg'); */
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.9) 10%,
    rgba(0, 0, 0, 0.5) 20%,
    rgba(0, 0, 0, 0.25) 30%,
    rgba(0, 0, 0, 0) 100%
  ), url("../assets/images/main_banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center, center;
  /* https://coding-with-jina.tistory.com/43 배경화면 점점 흐리게 */
}

.banner_img>img {
  border: 2px solid red;
  width: 100%;
  position: fixed;
  top: -80px;
}